<h1 class="center">Inventário do Tio Paulo</h1>
<div class="row">
  <div id="inventario" class="col col-3">
    <h2 class="center row">Dinheiro:
      <div class="spacer"></div>
      Inventário
      <div class="spacer"></div>
      Total: {{ valor | brMoney }}
    </h2>
    <iv-inventario (selectedItem)="onSelectItem($event)"
                   (valor)="onChangeValor($event)"
    ></iv-inventario>
  </div>
  <div class="col col-1">
      <iv-item-descricao id="info-column" [item]="selectedItem"></iv-item-descricao>
  </div>
</div>
