figure {
  max-height: calc(100vh - 41px);
}

figcaption {
  position: sticky;
  top: 0;
}

small {
  text-align: right;
}

.content {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  margin: 0 !important;
  padding: 0 !important;
}
