<figure *ngIf="item">
  <figcaption>
    {{ item.titulo }} x{{ item.quantidade }}
  </figcaption>
  <div class="content">
    <p>{{ item.descricao }}</p>
    <span class="row"><div class="spacer"></div>Valor: {{ item.valor | brMoney }}</span>
    <small>adquirido em {{ item.data_aquisicao }}</small>
  </div>
</figure>
