/* You can add global styles to this file, and also import other style files */
@import "yorha.min.css";

html {
  height: 100%;
  margin: 0;
  padding: 0;
}

.row {
  display: flex;
  flex-flow: row wrap;
}

.col {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
}

.col-1 {
  flex: 1;
}

.col-2 {
  flex: 2;
}

.col-3 {
  flex: 3;
}

.spacer {
  flex: 1 1;
}

.center {
  text-align: center;
}
