<figure>
  <figcaption>
    <div id="overflow" title="{{ item.titulo }}">{{ item.titulo }}</div>
    <div class="spacer"></div>
    x{{ item.quantidade }}
  </figcaption>
  <span class="row">Valor:<div class="spacer"></div>{{ item.valor | brMoney }}</span>
  <small>Adquirido em {{ item.data_aquisicao }}</small>
</figure>
